* {
  font-family: "Rubik", sans-serif;
}

.cars {
  padding: 10px 20px;
  transition: background 0.5s;
  height: 110vh;
  background-color: #e6ebf4;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cars.visible {
  opacity: 1;
  transform: translateY(0);
}

.container3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-bottom: 20px;
}

.heading1 {
  display: inline-block;
  font-family: "Luxury", serif;
  margin-bottom: 80px !important;
  color: #2c3e50;
  transition: color 0.3s !important;
  padding: 80px 0px 0px 40px;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.heading1:hover {
  color: crimson;
  cursor: pointer;
}

.btn1 {
  position: absolute;
}

.card {
  margin-bottom: 70px;
  border-radius: 15px;
  width: 410px !important;
  height: 620px;
  margin-right: 30px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: "Rubik", sans-serif;
  background: white;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.card img {
  transition: transform 0.3s;
  height: 300px;
  object-fit: cover;
}

.card:hover img {
  transform: scale(1.1);
}

.card-title,
.card-price,
.brand {
  color: #2c3e50;
}

.card-body {
  background-color: ivory;
  padding: 15px;
  border-radius: 0 0 0px 0px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.details i {
  margin-top: 4px;
  color: #e74c3c;
  font-size: 15px;
}

.icon-name-container {
  display: flex;
  gap: 7px
}

.details p {
  margin-right: 15px;
  margin-top: 2px;
  margin-bottom: 0px;
  color: #2c3e50;
  font-size: 14px;
}

.details1 {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.details1 i {
  margin-right: 5px;
  margin-top: 4px;
  color: #e74c3c;
  font-size: 15px;
}

.details1 p {
  margin-right: 15px;
  margin-top: 2px;
  margin-bottom: 0px;
  color: #2c3e50;
  font-size: 13px;
}

.btn-primary {
  background-color: #e74c3c;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #c0392b;
  transform: scale(1.1);
}

.like-button {
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: x-large;
  background-color: pink;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: red;
}

.like-button .liked {
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  10.1% {
    opacity: 1;
  }

  10.2% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  20.1% {
    opacity: 1;
  }

  20.6% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  30.1% {
    opacity: 1;
  }

  30.5% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  45.1% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  55.1% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  57.1% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  60.1% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  75.1% {
    opacity: 0;
  }

  77% {
    opacity: 0;
  }

  77.1% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  85.1% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  86.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  10.1% {
    opacity: 1;
  }

  10.2% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  20.1% {
    opacity: 1;
  }

  20.6% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  30.1% {
    opacity: 1;
  }

  30.5% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  45.1% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  55.1% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  57.1% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  60.1% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  75.1% {
    opacity: 0;
  }

  77% {
    opacity: 0;
  }

  77.1% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  85.1% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  86.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.fa-circle-chevron-left {
  position: absolute;
  left: 0;
  font-size: 2.6rem;
  margin-top: 220px;
  margin-left: 30px;
}

.fa-circle-chevron-right {
  position: absolute;
  right: 0;
  margin-top: 220px;
  margin-right: 20px;
  font-size: 2.6rem;
}

.fa-circle-chevron-left:hover,
.fa-circle-chevron-right:hover {
  cursor: pointer;
}

/* 
* {
    font-family: "Rubik", sans-serif;
}

.cars {
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background 0.5s;
    height: 110vh;
    background-color: #e6ebf4;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .cars.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .container3 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-bottom: 20px;
  }
  
  .heading1 {
    display: inline-block;
    font-family: "Luxury", serif;
    margin-bottom: 80px !important;
    color: #2c3e50;
    transition: color 0.3s !important;
    padding: 80px 0px 0px 40px;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .heading1:hover {
    color: crimson;
    cursor: pointer;
  }
  
  .btn1 {
    position: absolute;
  }
  
  .card {
    margin-bottom: 70px;
    border-radius: 15px;
    width: 410px !important;
    height: 620px;
    margin-right: 30px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: "Rubik", sans-serif;
    background: white;
    position: relative;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s;
    opacity: 0;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    transition: transform 0.3s;
    height: 300px;
    object-fit: cover;
  }
  
  .card:hover img {
    transform: scale(1.1);
  }
  
  .card-title,
  .card-price,
  .brand {
    color: #2c3e50;
  }
  
  .card-body {
    background-color: ivory;
    padding: 15px;
    border-radius: 0 0 0px 0px;
  }
  
  .details {
    display: flex;
    flex-direction: row;
  }
  
  .details i {
    margin-right: 5px;
    margin-top: 4px;
    color: #e74c3c;
    font-size: 15px;
  }
  
  .details p {
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: #2c3e50;
    font-size: 14px;
  }

  .details1 {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .details1 i {
    margin-right: 5px;
    margin-top: 4px;
    color: #e74c3c;
    font-size: 15px;
  }

  .details1 p {
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: #2c3e50;
    font-size: 13px;
  }
  
  .btn-primary {
    background-color: #e74c3c;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
  }
  
  .btn-primary:hover {
    background-color: #c0392b;
    transform: scale(1.1);
  }
  
  .like-button {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: x-large;
    background-color: pink;
    border-radius: 999px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: red;
  }
  
  .like-button .liked {
    -webkit-animation: flicker-in-1 2s linear both;
    animation: flicker-in-1 2s linear both;
  }
  
  @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fa-circle-chevron-left {
    position: absolute;
    left: 0;
    font-size: 2.6rem;
    margin-top: 220px;
    margin-left: 30px;
  }
  
  .fa-circle-chevron-right {
    position: absolute;
    right: 0;
    margin-top: 220px;
    margin-right: 20px;
    font-size: 2.6rem;
  }
  
  .fa-circle-chevron-left:hover,
  .fa-circle-chevron-right:hover {
    cursor: pointer;
  }
*/