* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GTA-Font";
    src: url("../Other\ Media/Fonts/GTA-Fonts.ttf");
}

body {
    background-color: lightblue;
}

.box {
    position: absolute;
    min-height: 80vh;
    max-height: 100vh;
    width: 70vw;
    left: 14%;
    top: 12%;
    border: 2px solid black;
    display: flex;
    background-color: navy;
    -webkit-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
}

.image {
    height: 100%;
    width: 50%;
    padding: 0;
}

.image img {
    width: 35%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 10%;
    animation: floatAlien 4s ease-in-out;
    animation-fill-mode: forwards;
}

.otherAnimation {
    animation: moveAstronaut 4s infinite;
}

.content {
    height: 100%;
    width: 50%;
    padding: 20px 40px 20px 70px;
}

.content h1 {
    margin-bottom: 60px;
    font-family: "GTA-Font";
    color: orange;
    font-size: 50px;
}

.content h1:hover {
    color: red;
    cursor: pointer;
}

.content h2 {
    font-size: 50px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 0 !important;
    line-height: 1px;
    color: white;
}

.content p {
    font-size: 50px;
    font-family: "GTA-Font";
    color: orange;
}

.form-floating {
    font-family: "Rubik", sans-serif;
}

.form-floating input:focus,
.form-floating label:focus {
    outline: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.logIn {
    margin: 5px 0px 20px 0px;
    background-color: dodgerblue !important;
    font-family: "Rubik", sans-serif;
    color: black;
}

.signIn, .continue {
    font-size: 18px !important;
    font-family: "Rubik", sans-serif !important;
}

.signIn {
    margin: 10px 0;
    color: orange !important;
    font-weight: bold;
}

.signIn a {
    text-decoration: none;
    color: orangered;
}

.signIn a:hover {
    text-decoration: underline;
}

.google {
    display: flex;
    height: 45px;
    width: 250px;
    align-content: center;
    border-radius: 25px;
    background-color: white !important;
    padding: 7px 10px 5px 10px;
    margin-top: 25px;
}

.google:hover {
    background-color: ivory!important;
}

.continue {
    margin-left: 10px;
    margin-top: 2px;
    color: black !important;
    cursor: pointer;
    font-family: "Rubik", sans-serif !important;    
}

@keyframes floatAlien {
    0% {
        transform: translate(-100vw, -400px) scale(0.5) rotate(-45deg);
        opacity: 0;
    }
    50% {
        transform: translate(0vw, 0px) scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(-50px, 0px) scale(1);
    }
}

@keyframes moveAstronaut {
    0% {
        transform: rotate(-15deg) translateY(0);
    }
    25% {
        transform: rotate(0deg) translateY(-10px);
    }
    50% {
        transform: rotate(15deg) translateY(0);
    }
    75% {
        transform: rotate(0deg) translateY(10px);
    }
    100% {
        transform: rotate(-15deg) translateY(0);
    }
}

/*Responsiveness*/

/*Mobile Screens*/
@media only screen and (max-width: 570px) {

    body {
        background-color: beige;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        padding: 20px !important;
    }

    .box {
        width: 90%;
        height: fit-content;
        box-shadow: unset;
    }

    .content h1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 30px;
    }

    .content h2, .content p {
        text-align: center;
        font-size: 35px;
    }

    .content p {
        margin-bottom: 10px;
    }

    .signUp {
        margin: 0px;
    }

    .image {
        display: none;
    }

    .form-control {
        width: 70vw;
    }

    .signIn {
        width: 86%;
        margin: 10px 0px 10px 0px !important;
        text-align: start !important;
    }

    .google {
        margin: 15px;
    }

    .image {
        display: none;
    }
}

/*Tablet Screens*/
@media (min-width: 570px) and (max-width: 870px) {

    body {
        background-color: beige;
    }

    .box {
        width: 90%;
        height: fit-content;
        box-shadow: unset;
    }

    .content {
        width: 100%;
        height: fit-content;
        padding: 0px 40px 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 15px;
    }

    .content h1 {
        text-align: center;
        font-size: 45px;
        margin-bottom: 40px;
    }

    .content h2, .content p {
        text-align: center;
        font-size: 45px;
    }

    .content p {
        margin-bottom: 10px;
    }

    .form-control {
        width: 70vw;   
    }

    .image {
        display: none;
    }

    .signUp {
        margin: 5px 0px 15px 0px !important;
        width: 150px;
    }

    .signIn {
        width: 88%;
        margin-bottom: 12px;
        text-align: start !important;
    }

    .google {
        margin: 5px;
    }
}

/*Laptop Screen*/
@media (min-width: 870px) and (max-width: 1297px) {

    .content {
        padding: 30px 20px 20px 40px;
    }

    .content h1 {
        font-size: 35px;
        margin-bottom: 40px;
    }

    .content h2 {
        font-size: 35px;
    }

    .content p {
        font-size: 40px;
    }

    .signUp {
        margin-bottom: 5px;
    }

    .signIn {
        margin-bottom: 10px;
    }

    .google {
        margin: 10px 10px 10px 0px;
    }

    .image img {
        width: 80%;
    }

    .image p {
        text-align: center;
    }
}